<div id="user_nav">
    <% if !user_signed_in? %>
        <p><%= link_to I18n.t('link_to.sign_up'), new_user_registration_path %> |
        <%= link_to I18n.t('link_to.sign_in'), new_user_session_path %></p>
    <% end %>
</div>
