<h2><%= I18n.t('link_to.about') %></h2>

<%= render 'form' %>

<h3> <b>Technologs</b> </h3>
  
<p>O <i><b>Technologs</b></i> é um sistema web de informações acadêmicas, o desenvolvimento da primeira versão do módulo entrou em produção no segundo semestre de 2013. Trata-se de um módulo para gestão que propõe a integração das atividades de uma Insituição de Ensino Superior, permitindo que a mesma seja mais dinâmica e aumentando a facilidade de acesso por parte dos professores, coordenadores e alunos. Além disso incluem outros benefícios como otimização, automatização e acompanhamento online para os usuários.</p>

<h3> <b>Descrição e acesso ao módulo</b> </h3>
       
<br /><p>Este módulo tem por prioridade atender ao controle acadêmico de alunos em cursos com graduação superior do tipo tecnologia, bacharelado e licenciatura. O acesso ao sistema ocorrerá de forma que ao entrar na página inicial, qualquer usuário poderá verificar informações sobre o sistema, desenvolvedores e contato dos mesmos. O sistema possui autenticação e controle de acesso entre os seus usuários, logo ao realizar o <i>login</i>, o sistema verifica o tipo de matrícula e redireciona o usuário para a GUI de acesso com as autorizações que ele tenha no sistema. Os usuários cadastrados inicialmente foram do tipo : aluno, coordenador, professor e técnico-administrativo, que tem acesso a todas as funções.</p>
  
<h3> <b>Considerações</b> <h3>

<br /><p>Com o sistema em funcionamento, a universidade dispõe de uma plataforma que informatizou várias atividades institucionais, a implantação do mesmo institucionalizou os conhecimentos embutidos na execução dessas atividades, que até então ficavam restritos às pessoas que as executavam.
<p>O Sistema Acadêmico também aumentou a eficiência, a agilidade e a transparência de vários processos, contribuindo para minimizar eventuais erros operacionais e favorecendo o crescimento estruturado da universidade. Outros benefícios ainda incluem a descentralização da execução dos serviços, otimização e automatização dos fluxos e processos de
atendimento e de prestação de serviços, disponibilidade de consultas online para os tomadores de decisão, facilidade de acompanhamento das atividades pelos órgãos competentes, além da redução de custos com a substituição de atendimentos em balcão por operações online.</p>
