<h2><%= I18n.t('link_to.contact') %></h2>


<%= render 'form' %>

<h3> <b>Technologs Soluções Tecnológicas</b> </h3>

<p><a href="http://github.com/technologs" target="_blank">Nossos Repositórios</a></p>

<p><a href="http://github.com/technologs/webacademico" target="_blank">WebAcademico</a></p>


<h3> <b>Equipe de Desenvolvimento</b> </h3>

<br /><p> <b>Aline Costa</b><br /> <a href="https://github.com/alinesouza" target="_blank">GitHub</a> - e-mail: alinecosta.si@gmail.com </p>

<p> <b>Denaildo Junio</b><br /> <a href="http://github.com/denaildo" target="_blank">GitHub</a> - e-mail: denaildojr@hotmail.com </p>

<p> <b>Kíssila Ventura</b><br /> <a href="https://github.com/kventura" target="_blank" >GitHub</a> - e-mail: kventura@outlook.com </p>

<p> <b>Ismael Moreira</b><br /> <a href="http://github.com/imbrito" target="_blank">GitHub</a> - e-mail: imbrito19rj@hotmail.com </p>
